// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$main-color: #145ab0; //use for buttons, inputs and modal header
$modal-color: #daedff; //background color for modal
$main-text-color: #ffffff; //use for text color
$modal-text-color: #000000; //use for text color

//image 
$clouds:'public/images/cloudss.png'; //cloud bg image
$logo2: 'public/images/logo2.png'; //logo 2 image

//size
$modal-width: 30%; //modal width
$modal-height: auto; //modal height
$modal-buttom-radius: 10px; //modal button radius
$modal-font-size: 1rem;