#login {
    background-image: url('/public/images/oldbg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-form-container {
    width: 100%; 
    max-width: 1200px;
    height: 80vh; 
    background-color: transparent;
    border-radius: 20px;
    overflow: hidden;
}

.welcome-container {
    
    text-align: center;
}

.login-form {
    padding: 2rem;
}

.welcome-txt {
    font-size: 46px;
    font-weight: bold;
    line-height: 1.2;
}

.tagline {
    font-size: 1.2rem;
    font-style: italic;
    opacity: 0.8;
}

.logintxt {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 2rem;
}

.input-box {
    position: relative;
    margin-bottom: 25px; 
}

.input-box input {
    width: 100%;
    height: 60px;
    padding: 13px 20px 13px 50px;
    background: transparent;
    border: 2px solid white;
    border-radius: 12px;
    outline: none;
    font-size: 16px;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.input-box input::placeholder {
    color: white;
    font-weight: 300;
    opacity: 0.8;
}

.input-box input:focus {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.input-box-text {
    position: absolute;
    left: 15px;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.togglePassword-btn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.togglePassword-btn:hover {
    color: #ddd;
}

.loginbtn {
    background-color: white;
    color: #145AB0;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    width: 50%; 
    height: 55px;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.loginbtn:hover {
    background-color: #ddd;
    color: #0d4b83;
}


@media (max-width: 991px) {
    .login-form-container {
        width: 90%;
        height: auto;
        flex-direction: column;
    }

    .welcome-container {
        height: auto;
        padding: 10px;
    }

    .welcome-container img {
        height: 150px;
    }
    .login-form {
        height: auto;
        padding: 1.5rem;
    }

    .welcome-txt {
        font-size: 26px;
    }

    .tagline {
        font-size: 1rem;
    }

    .logintxt {
        font-size: 36px;
        margin-bottom: 20px !important;
    }

    .input-box input {
        width: 100%;
        height: 50px;
    }
    
    .loginbtn {
        width: 70%;
    }
}